<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Core" version="16.2.11" targetFramework="net461" />
  <package id="DevExpress.Data" version="16.2.11" targetFramework="net461" />
  <package id="DevExpress.DataAccess" version="16.2.11" targetFramework="net461" />
  <package id="DevExpress.Mvvm" version="16.2.11" targetFramework="net461" />
  <package id="DevExpress.Office.Core" version="16.2.11" targetFramework="net461" />
  <package id="DevExpress.PivotGrid.Core" version="16.2.11" targetFramework="net461" />
  <package id="DevExpress.RichEdit.Core" version="16.2.11" targetFramework="net461" />
  <package id="DevExpress.Wpf.Core" version="16.2.11" targetFramework="net461" />
  <package id="DevExpress.Wpf.DocumentViewer.Core" version="16.2.11" targetFramework="net461" />
  <package id="DevExpress.Wpf.Grid" version="16.2.11" targetFramework="net461" />
  <package id="DevExpress.Wpf.Layout" version="16.2.11" targetFramework="net461" />
  <package id="DevExpress.Wpf.Navigation" version="16.2.11" targetFramework="net461" />
  <package id="DevExpress.Wpf.PivotGrid" version="16.2.11" targetFramework="net461" />
  <package id="DevExpress.Wpf.Printing" version="16.2.11" targetFramework="net461" />
  <package id="DevExpress.Wpf.Themes.Office2016White" version="16.2.11" targetFramework="net461" />
  <package id="DevExpress.Xpo" version="16.2.11" targetFramework="net461" />
</packages>